# Concatinating

In [11]:
import pandas as pd
uber=pd.read_csv('nyc_uber_2014.csv')
uber1=uber.loc[0:99,:] #(loc takes position from x to y ,unlike without using loc,which takes x to y-1 )
uber2=uber[100:200]
uber3=uber[200:]
print(uber1.shape)
print(uber2.shape)
print(uber3.shape)
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1,uber2,uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(100, 5)
(100, 5)
(97, 5)
(297, 5)
   Unnamed: 0         Date/Time      Lat      Lon    Base
0           0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

## Combining columns of data

Column-wise concatenation of data is same as stitching data together from the sides instead of the top and bottom. To perform this action,we use the same pd.concat() function, but this time with the keyword argument axis=1. The default, axis=0, is for a row-wise concatenation.

In [19]:
ebola=pd.read_csv('ebola.csv')
ebola_melt = pd.melt(ebola, id_vars=['Date','Day'], var_name='type_country', value_name='counts')
status_country=pd.DataFrame()
extra=pd.DataFrame()
# Create the 'str_split' column
extra['str_split'] =ebola_melt['type_country'].str.split('_')

# Create the 'type' column
status_country['type'] = extra['str_split'].str.get(0)

# Create the 'country' column
status_country['country'] = extra['str_split'].str.get(1)


# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt,status_country],axis=1)

# Print the shape of ebola_tidy
print(ebola_tidy.shape)

# Print the head of ebola_tidy
print(ebola_tidy.head())

        type country
0      Cases  Guinea
1      Cases  Guinea
2      Cases  Guinea
3      Cases  Guinea
4      Cases  Guinea
5      Cases  Guinea
6      Cases  Guinea
7      Cases  Guinea
8      Cases  Guinea
9      Cases  Guinea
10     Cases  Guinea
11     Cases  Guinea
12     Cases  Guinea
13     Cases  Guinea
14     Cases  Guinea
15     Cases  Guinea
16     Cases  Guinea
17     Cases  Guinea
18     Cases  Guinea
19     Cases  Guinea
20     Cases  Guinea
21     Cases  Guinea
22     Cases  Guinea
23     Cases  Guinea
24     Cases  Guinea
25     Cases  Guinea
26     Cases  Guinea
27     Cases  Guinea
28     Cases  Guinea
29     Cases  Guinea
...      ...     ...
1922  Deaths    Mali
1923  Deaths    Mali
1924  Deaths    Mali
1925  Deaths    Mali
1926  Deaths    Mali
1927  Deaths    Mali
1928  Deaths    Mali
1929  Deaths    Mali
1930  Deaths    Mali
1931  Deaths    Mali
1932  Deaths    Mali
1933  Deaths    Mali
1934  Deaths    Mali
1935  Deaths    Mali
1936  Deaths    Mali
1937  Deaths    Mali
1938  Deaths    Mali
1939  Deaths    Mali
1940  Deaths    Mali
1941  Deaths    Mali
1942  Deaths    Mali
1943  Deaths    Mali
1944  Deaths    Mali
1945  Deaths    Mali
1946  Deaths    Mali
1947  Deaths    Mali
1948  Deaths    Mali
1949  Deaths    Mali
1950  Deaths    Mali
1951  Deaths    Mali

[1952 rows x 2 columns]
(1952, 6)
         Date  Day  type_country  counts   type country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

# Pattern Matching in Files

The glob module is used to find all csv files in the workspace which has a function called glob that takes a pattern and returns a list of the files in the working directory that match that pattern.

For example, if we  know the pattern is part_ single digit number .csv, we can write the pattern as 'part_?.csv' (which would match part_1.csv, part_2.csv, part_3.csv, etc.)

Similarly, we can find all .csv files with '*.csv', or all parts with 'part_*'. 

The ? wildcard represents any 1 character, and the * wildcard represents any number of characters.

In [20]:
# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern
pattern ='*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['airquality.csv', 'dob_job_application_filings_subset.csv', 'ebola.csv', 'gapminder.csv', 'nyc_uber_2014.csv', 'tb.csv', 'tips.csv']
       Job #  Doc #        Borough       House #  \
0  121577873      2      MANHATTAN  386
1  520129502      1  STATEN ISLAND  107
2  121601560      1      MANHATTAN  63
3  121601203      1      MANHATTAN  48
4  121601338      1      MANHATTAN  45

                        Street Name  Block  Lot    Bin # Job Type Job Status  \
0  PARK AVENUE SOUTH                   857   38  1016890       A2          D
1  KNOX PLACE                          342    1  5161350       A3          A
2  WEST 131 STREET                    1729    9  1053831       A2          Q
3  WEST 25TH STREET                    826   69  1015610       A2          D
4  WEST 29 STREET                      831    7  1015754       A3          D

            ...                         Owner's Last Name  \
0           ...            MIGLIORE
1           ...            BLUMENBERG
2           ...            MARKOWITZ
3           ...            CASALE
4           ...            LEE

              Owner's Business Name Owner's House Number  \
0  MACKLOWE MANAGEMENT                      126
1  NA                                       107
2  635 RIVERSIDE DRIVE NY LLC               619
3  48 W 25 ST LLC C/O BERNSTEIN             150
4  HYUNG-HYANG REALTY CORP                  614

           Owner'sHouse Street Name            City  State    Zip  \
0  EAST 56TH STREET                  NEW YORK           NY  10222
1  KNOX PLACE                        STATEN ISLAND      NY  10314
2  WEST 54TH STREET                  NEW YORK           NY  10016
3  WEST 30TH STREET                  NEW YORK           NY  10001
4  8 AVENUE                          NEW YORK           NY  10001

  Owner'sPhone #                                    Job Description  \
0     2125545837  GENERAL MECHANICAL & PLUMBING MODIFICATIONS AS...
1     3477398892  BUILDERS PAVEMENT PLAN 143 LF.                ...
2     2127652555  GENERAL CONSTRUCTION TO INCLUDE NEW PARTITIONS...
3     2125941414  STRUCTURAL CHANGES ON THE 5TH FLOOR (MOONDOG E...
4     2019881222  FILING HEREWITH FACADE REPAIR PLANS. WORK SCOP...

               DOBRunDate
0  04/26/2013 12:00:00 AM
1  04/26/2013 12:00:00 AM
2  04/26/2013 12:00:00 AM
3  04/26/2013 12:00:00 AM
4  04/26/2013 12:00:00 AM

[5 rows x 82 columns]

C:\Users\Subham\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df =pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

C:\Users\Subham\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(14643, 353)
   1800  1801  1802  1803  1804  1805  1806  1807  1808  1809  ...   m5564  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN

   m65  mu  sex  size  smoker  time  tip  total_bill  year
0  NaN NaN  NaN   NaN     NaN   NaN  NaN         NaN   NaN
1  NaN NaN  NaN   NaN     NaN   NaN  NaN         NaN   NaN
2  NaN NaN  NaN   NaN     NaN   NaN  NaN         NaN   NaN
3  NaN NaN  NaN   NaN     NaN   NaN  NaN         NaN   NaN
4  NaN NaN  NaN   NaN     NaN   NaN  NaN         NaN   NaN

[5 rows x 353 columns]

We can now programmatically combine datasets that are broken up into many smaller parts. We'll find many datasets in the wild will be stored this way, particularly data that is collected incrementally.

# Merge Data

Merging data allows us to combine disparate datasets into a single dataset to do more complex analysis.

In [22]:
# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print o2o
print(o2o)
print(site.shape)
print('\n\n\n')
print(visited)

NameError: name 'site' is not defined

### Many to Many
The final merging scenario occurs when both DataFrames do not have unique keys for a merge. What happens here is that for each duplicated key, every pairwise combination will be created.