## Connecting to a MySQL Database

This connection string is going to start with 'mysql+pymysql://', indicating which dialect and driver we're using to establish the connection. The dialect block is followed by the 'username:password' combo. Next, we specify the host and port with the following '@host:port/'. Finally, we wrap up the connection string with the 'database_name'.

In [1]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('mysql+pymysql://'+'student:datacamp'+'@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/'+'census')

# Print the table names
print(engine.table_names())

['census', 'state_fact']

## Calculating a Difference between Two Columns

In [15]:
# Import Table
from sqlalchemy import Table,MetaData
metadata=MetaData()

# Reflect census table from the engine: census
census = Table('census',metadata, autoload=True, autoload_with=engine)
state_fact = Table('state_fact',metadata, autoload=True, autoload_with=engine)
# Print census table metadata
print(repr(census))

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(display_width=11), table=<census>), Column('pop2000', INTEGER(display_width=11), table=<census>), Column('pop2008', INTEGER(display_width=11), table=<census>), schema=None)

In [10]:
from sqlalchemy import select,desc
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = engine.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

## Determining the Overall Percentage of Females

It's possible to combine functions and operators in a single select statement as well. These combinations can be exceptionally handy when we want to calculate percentages or averages, and we can also use the case() expression to operate on data that meets specific criteria while not affecting the query as a whole. The case() expression accepts a list of conditions to match and the column to return if the condition matches, followed by an else_ if none of the conditions match. We can wrap this entire expression in any function or math operation we like.

Often when performing integer division, we want to get a float back. While some databases will do this automatically, we can use the cast() function to convert an expression to a particular type.

In [13]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case,cast,Float,func

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex=='F',census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000),Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000/total_pop2000* 100])

# Execute the query and store the scalar result: percent_female
percent_female = engine.execute(stmt).scalar()

# Print the percentage
print(percent_female)

C:\Users\Subham\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py:871: SAWarning: Datatype FLOAT does not support CAST on MySQL; the CAST will be skipped.
  self.dialect.type_compiler.process(cast.typeclause.type))

50.7455

## Automatic Joins with an Established Relationship

If we have two tables that already have an established relationship, we can automatically use that relationship by just adding the columns we want from each table to the select statement.

In [16]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000,state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = engine.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

## Joins

If we aren't selecting columns from both tables or the two tables don't have a defined relationship, we can still use the .join() method on a table to join it with another table and get extra data related to our query. The join() takes the table object we want to join in as the first argument and a condition that indicates how the tables are related to the second argument. Finally, we use the .select_from() method on the select statement to wrap the join clause. 

For example, To join the census table to the state_fact table such that the state column of the census table corresponded to the name column of the state_fact table.

* stmt = stmt.select_from(census.join(state_fact, census.columns.state == state_fact.columns.name)

In [19]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census,state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = engine.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

In [20]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = engine.execute(stmt).fetchall()

# Loop over the the results object and print each record.
for record in results:
    print(record)

('Alabama', Decimal('4681422'), 'East South Central')
('Alaska', Decimal('664546'), 'Pacific')
('Arizona', Decimal('10698743'), 'Mountain')
('Arkansas', Decimal('4343608'), 'West South Central')
('California', Decimal('56952946'), 'Pacific')
('Colorado', Decimal('7474086'), 'Mountain')
('Connecticut', Decimal('3727540'), 'New England')
('Delaware', Decimal('869221'), 'South Atlantic')
('Florida', Decimal('20339477'), 'South Atlantic')
('Georgia', Decimal('9622508'), 'South Atlantic')
('Hawaii', Decimal('1250676'), 'Pacific')
('Idaho', Decimal('1518914'), 'Mountain')
('Illinois', Decimal('16274391'), 'East North Central')
('Indiana', Decimal('7378168'), 'East North Central')
('Iowa', Decimal('3000490'), 'West North Central')
('Kansas', Decimal('4045759'), 'West North Central')
('Kentucky', Decimal('4525061'), 'East South Central')
('Louisiana', Decimal('5183486'), 'West South Central')
('Maine', Decimal('2018932'), 'New England')
('Maryland', Decimal('7246747'), 'South Atlantic')
('Massachusetts', Decimal('6492024'), 'New England')
('Michigan', Decimal('14154883'), 'East North Central')
('Minnesota', Decimal('6922744'), 'West North Central')
('Mississippi', Decimal('4560123'), 'East South Central')
('Missouri', Decimal('7836564'), 'West North Central')
('Montana', Decimal('1172060'), 'Mountain')
('Nebraska', Decimal('2348009'), 'West North Central')
('Nevada', Decimal('3925294'), 'Mountain')
('New Hampshire', Decimal('1949141'), 'New England')
('New Jersey', Decimal('8670204'), 'Mid-Atlantic')
('New Mexico', Decimal('3263613'), 'Mountain')
('New York', Decimal('26837888'), 'Mid-Atlantic')
('North Carolina', Decimal('9121606'), 'South Atlantic')
('North Dakota', Decimal('634282'), 'West North Central')
('Ohio', Decimal('16565266'), 'East North Central')
('Oklahoma', Decimal('4736015'), 'West South Central')
('Oregon', Decimal('4901890'), 'Pacific')
('Pennsylvania', Decimal('17277878'), 'Mid-Atlantic')
('Rhode Island', Decimal('1096276'), 'New England')
('South Carolina', Decimal('4438870'), 'South Atlantic')
('South Dakota', Decimal('800997'), 'West North Central')
('Tennessee', Decimal('8524299'), 'East South Central')
('Texas', Decimal('39829923'), 'West South Central')
('Utah', Decimal('2730919'), 'Mountain')
('Vermont', Decimal('820523'), 'New England')
('Virginia', Decimal('9593860'), 'South Atlantic')
('Washington', Decimal('8080837'), 'Pacific')
('West Virginia', Decimal('1812879'), 'South Atlantic')
('Wisconsin', Decimal('7518844'), 'East North Central')
('Wyoming', Decimal('653500'), 'Mountain')

## Using alias to handle same table joined queries

Often, we'll have tables that contain hierarchical data, such as employees and managers who are also employees. For this reason, we may wish to join a table to itself on different columns. The .alias() method, which creates a copy of a table, helps accomplish this task. Because it's the same table, we only need a where clause to specify the join condition.

In [21]:
# Make an alias of the employees table: managers
managers =employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id ==employees.columns.mgr)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = engine.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

NameError: name 'employees' is not defined

## Leveraging Functions and Group_bys with Hierarchical Data

It's also common to want to roll up data which is in a hierarchical table. Rolling up data requires making sure we're careful which alias we use to perform the group_bys and which table we use for the function.

Here, our job is to get a count of employees for each manager.

In [23]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id==employees.columns.mgr)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = engine.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

NameError: name 'employees' is not defined

## Working on Blocks of Records

Fantastic work so far! Sometimes we may have the need to work on a large ResultProxy, and we may not have the memory to load all the results at once. To work around that issue, we can get blocks of rows from the ResultProxy by using the .fetchmany() method inside a loop. With .fetchmany(), give it an argument of the number of records you want. When we reach an empty list, there are no more rows left to fetch, and we have processed all the results of the query. Then we need to use the .close() method to close out the connection to the database.

In [24]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results =False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state]+=1
        else:
            state_count[row.state]=1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

NameError: name 'more_results' is not defined